@{
    ViewData["Title"] = "Credibility";
}

<h1>Info about the credibility system</h1>

<p>Credibility is a score based on the users activity. </p>
<ul>
    <li>+7 You create a post</li>
    <li>+9 Your post gets an upvote</li>
    <li>-4 Your post gets a downvote</li>
    <li>+5 Your post gets a comment</li>
    <li>+3 You post a comment</li>
</ul>