@* Information about the credibility system *@

@{
    ViewData["Title"] = "Credibility";
}

<div style="text-align:center">
    <h1>The credibility system</h1>

    <p>Credibility is a score based on the users activity, and is meant to reward active and serious users.</p>
    <ul style="display:inline-block">
        <li>+7 You create a post</li>
        <li>+9 Your post gets an upvote</li>
        <li>-4 Your post gets a downvote</li>
        <li>+5 Your post gets a comment</li>
        <li>+3 You post a comment</li>
    </ul>
</div>