@model IEnumerable<Upvote>

@* List of all votes from a user *@

@{
    var user = ViewData["User"] as User;
    ViewData["Title"] = "User votes";

    if (user == null)
    {
        <h1 style="text-align:center">Votes by user</h1>
    }
    else
    {
        <h1 style="text-align:center">Votes by @user.Name</h1>
        
    }
}

<table class="table table-striped">
    <tr>
        <th>Post</th>
        <th>Vote</th>
    </tr>

    <!-- Loop through all their votes -->
    @foreach (var vote in Model)
    {
        <tr>
            <td>
                <a asp-controller="Post"
                   asp-action="DetailedPost"
                   asp-route-id="@vote.PostID">@vote.Post.Title</a>
            </td>
            <td>@vote.Vote</td>
        </tr>
    }
</table>
