@model ItemListViewModel

@*     <!DOCTYPE html>

    <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
            <title>My sweat shop</title>
        </head>
        <body> *@
            <h1>List of Shop Items (@ViewBag.CurrentViewName View)</h1>
            <a href="/Item/Grid">Grid View</a>
            
            <partial name="_ItemTable" model="Model.Items" />

            @* <a class="btn btn-primary" asp-action="OrderConsole">Console output</a> *@
@*         </body>
    </html> *@