@* Home Page *@

@{
    // Tab title
    ViewData["Title"] = "Home";
}

<!-- Welcome text -->
<div class="text-center">
    <h1 class="display-4">Welcome to our Forum</h1>
    <h2 class="display-6">EpicForum.NO</h2>
</div>

<!-- Inherits the carousel view -->
<partial name="_Carousel" />
