@model CreatePostViewModel

<h2>Create new Post</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Post.Title"></label><span class="text-danger">*</span>
        <input asp-for="Post.Title" class="form-control" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Post.Text"></label><span class="text-danger">*</span>
        <input asp-for="Post.Text" class="form-control" />
        <span asp-validation-for="Post.Text" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="UserId"></label><span class="text-danger">*</span>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label asp-for="Post.SubForum"></label><span class="text-danger">*</span>
        <select asp-for="Post.SubForum" asp-items="Model.SubForumSelectList" class="form-control">
            <option value="">Select a subforum...</option>
        </select>
        <span asp-validation-for="Post.SubForum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Post.ImageUrl"></label>
        <input asp-for="Post.ImageUrl" class="form-control" />
        <span asp-validation-for="Post.ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Posts" class="btn btn-secondary">Back to classic view</a>
    <a asp-action="Card" class="btn btn-secondary">Back to card view</a>
</form>

