@model PostListViewModel

@* Posts View (main feed) *@

@{
    // Tab title
    ViewData["Title"] = "Posts";
}

<!-- Welcome text -->
<h1 style="text-align:center;">Main Feed</h1>

<!-- Inherits another view called _PostsTable -->
<partial name="_PostsTable" model="Model.Posts"/>

