@model SubForumPostListViewModel

<h1 style="text-align:center;">Sub Forum</h1>
<h2 style="text-align:center;">@Model.CurrentViewName</h2>
<script>
    function sub() {
        var e = document.getElementById("formID");
        var s = document.getElementById("selectID");
        var value = s.value;
        e.setAttribute("action", "/Post/SubForumPosts?CurrentViewName=" + value);
        e.submit()
    }
</script>

<form asp-controller="Post" asp-action="SubForumPosts" id="formID" style="margin: 10px" >
    <select onchange="sub()" asp-for="CurrentViewName" asp-items="Model.SubForumSelectList" class="form-control" id="selectID">
        <option value="">Select a subforum...</option>
    </select>
</form>

<partial name="_PostsTable" model="Model.Posts" />


